<script src="__ADMIN__/js/jquery.min.js"></script>
<script src="__ADMIN__/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="__ADMIN__/js/beyond.min.js"></script>

<!--Page Related Scripts-->
<!--Sparkline Charts Needed Scripts-->
<script src="__ADMIN__/js/charts/sparkline/jquery.sparkline.js"></script>
<script src="__ADMIN__/js/charts/sparkline/sparkline-init.js"></script>
<script src="__ADMIN__/js/layer/layer.js"></script>

<!--Easy Pie Charts Needed Scripts-->
<script src="__ADMIN__/js/charts/easypiechart/jquery.easypiechart.js"></script>
<script src="__ADMIN__/js/charts/easypiechart/easypiechart-init.js"></script>