{include file="public/head"}
<!-- /Head -->
<!-- Body -->
<body>
<!-- Navbar -->
{include file="public/navbar"}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="public/sidebar"}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active"><a href="#">栏目管理</a></li>
                    <li class="active">栏目管理</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header ">
                                <span class="widget-caption">栏目管理</span>
                            </div>
                            <div class="widget-body">
                                <div class="table-toolbar">
                                    <a href="{:url('Cate/cate_add')}" class="btn btn-success">新增栏目</a>
                                </div>
                                <div id="editabledatatable_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <table class="table table-striped table-hover table-bordered dataTable no-footer" id="editabledatatable" role="grid" aria-describedby="editabledatatable_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 10%; text-align: center">
                                                <label>
                                                    <input type="checkbox" class="colored-blue" name="contatway[]"/>
                                                    <span class="text">全选</span>
                                                </label>
                                            </th>
                                            <th style="width: 5%; text-align: center">ID</th>
                                            <th style="width: 18%;">栏目</th>
                                            <th style="width: 10%; text-align: center">状态</th>
                                            <th style="width: 18%;">属性</th>
                                            <th style="width: 18%;">所属模型</th>
                                            <th style="width:4%; text-align: center">排序</th>
                                            <th style="width: 17%; text-align: center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="cateRes" id="vo"}
                                        <tr role="row">
                                            <td style="text-align: center;">
                                                <label>
                                                    <input type="checkbox"  class="colored-blue" name="contatway[]"/> <span class="text"></span>
                                                </label>
                                            </td>
                                            <td>{$vo.id}</td>
                                            <td><?php echo str_repeat('--',$vo['level']*2); ?>{$vo.cate_name}</td>
                                            <td  {if condition="$vo['status'] eq 1"} style="text-align: center;">
                                                <a class="btn btn-success">显示</a>
                                                {else/}
                                                <a class="btn btn-danger">隐藏</a>{/if}
                                            </td>
                                            <td>{$vo.cate_attr}</td>
                                            <td>{$vo.model_id}</td>
                                            <td><input type="text" value="{$vo.sort}" style="width: 20px; text-align: center;"/></td>
                                            <td>操作</td>
                                         </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row DTTTFooter" style="margin-top: 10px;">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="editabledatatable_info" role="status" aria-live="polite">
                                            <label>
                                            <select name="editabledatatable_length" aria-controls="editabledatatable" class="form-control input-sm">
                                                <option value="5">5</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="100">100</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </label>Showing 1 to 5 of 6 entries</div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <div class="dataTables_paginate paging_bootstrap " style="text-align: right;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
</div>
<!-- /Page Content -->
</div>
<!-- /Page Container -->
<!-- Main Container -->
</div>
<!--Basic Scripts-->
{include file="public/foot"}
<script type="text/javascript">
</script>
</body>
<!--  /Body -->
</html>
